<!-- - - - - - - - -  About Us Section - - - - - - - -  -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Nosotros</h2>
        <p>Queremos contarte acerca de la consultora</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-4">
          <img
            src="assets/images/about.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-8">
          <div class="content ps-0 ps-lg-5">
            <p>
              TALA CONSULTORA creada y dirigida por profesionales de la salud,
              formadas en psicodiagnóstico y psicología laboral. Atravesadas por
              la perspectiva de género y derechos humanos.
            </p>
            <p>
              En TALA entendemos que los recursos humanos son la piedra angular
              de cualquier organización exitosa. Nuestro enfoque se basa en
              brindar soluciones personalizadas y estratégicas para satisfacer
              las necesidades específicas de su empresa.
            </p>
            <p>
              Es por eso que alineamos nuestra práctica con los objetivos
              vitales de la empresa y orientamos nuestros fines a realizar un
              diagnóstico de la personalidad del postulante a fin de evaluar su
              compatibilidad con el puesto requerido, identificando sus
              fortalezas y sus áreas a mejorar.
            </p>
            <p>
              Estructuramos nuestros servicios en la confección de un informe
              psicotécnico laboral, seleccionando las técnicas psicométricas y
              proyectivas adecuadas en función del puesto a cubrir. Se obtiene
              un pronóstico de habilidades, aptitudes y competencias de una
              persona, ya sea para fines de selección, reubicación, promoción
              y/o desarrollo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Us Section -->