 <!-- - - - - - - - -  Banner 1 Section - - - - - - - -  -->
 <section id="banner1" class="banner1">
    <div class="container text-center" data-aos="zoom-out">
      <img src="assets/images/banners/banner_2.png" alt="" class="banner1" />
    </div>
  </section><!-- End Banner 1 Section -->