 <!-- - - - - - - - -  Contact Section - - - - - - - -  -->
 <section id="contact" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4">
          <img
            src="assets/images/contacto.jpg"
            class="img-fluid rounded-4 mb-4 d-none d-lg-block"
            alt=""
          />
        </div>
        <div class="col-lg-8">
          <div class="section-header">
            <h2>Contacto</h2>
            <p>Contáctate con nosostros</p>
          </div>

          <div class="content ps-0 ps-lg-5">
            <ul>
              <a href="#">
                <li>
                  <span class="bi bi-browser-chrome"></span> www.talaconsultora.com.ar
                </li>
              </a>
              <a href="mailto:info@talaconsultora.com.ar">
                <li>
                  <span class="bi bi-envelope"></span> info@talaconsultora.com.ar
                </li>
              </a>
              <li>
                <a
                  href="https://www.instagram.com/talaconsultora/"
                  rel="noreferrer nofollow"
                  target="_blank"
                  ><span class="bi bi-instagram"></span> @talaconsultora</a
                >
              </li>
              <li>
                <a
                  href="https://wa.me/5492281413019"
                  rel="noreferrer nofollow"
                  target="_blank"
                  ><span class="bi bi-whatsapp"></span> +54 9 2281 413019</a
                >
              </li>
            </ul>
            <form id="contact-form" class="form-group row m-1">
              <div class="p-1 col-md-6 col-sm-12">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input
                  type="text"
                  name="nombre"
                  id="nombre"
                  class="form-control"
                  required
                />
              </div>
              <div class="p-1 col-md-6 col-sm-12">
                <label for="telefono" class="col-form-label">Teléfono:</label>
                <input
                  type="text"
                  name="telefono"
                  id="telefono"
                  class="form-control"
                  required
                />
              </div>
              <div class="p-1 col-12">
                <label for="email" class="col-form-label">Email:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  required
                />
              </div>
              <div class="p-1 col-12">
                <label for="mensaje" class="col-form-label"
                  >Escribe un comentario</label
                >
                <textarea
                  name="mensaje"
                  id="mensaje"
                  cols="30"
                  rows="10"
                  class="form-control"
                  required></textarea>
                <!-- </div> -->
                <input type="submit" class="btn" value="Enviar" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->