<!-- - - - - - - - -  Metodologia Section - - - - - - - -  -->
<section id="metodologia" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Metodología de Trabajo</h2>
        <p>Queremos contarte nuestra metodología de trabajo</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-4">
          <img
            src="assets/images/metodologia.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-8">
          <div class="content ps-0 ps-lg-5">
            <p>
              Consideramos que la mejor metodología de trabajo, a los efectos
              de poder reclutar y seleccionar a los candidatos más idóneos, es
              enfocar en las distintas etapas del proceso de selección:
            </p>
            <ul>
              <li>
                <i class="bi bi-1-square"></i><strong>
                  Relevamiento del perfil:</strong
                > El análisis del puesto y perfil buscado consta de evaluar y conocer
                la cultura de la empresa (visión, misión, necesidades, etc.)
              </li>
              <li>
                <i class="bi bi-2-square"></i><strong>
                  Evaluación de postulantes:</strong
                > Consta de diferentes instancias:
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Preentrevista telefónica,
                donde se revaliden datos duros y se obtenga un primer análisis
                del postulante.
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Entrevista personal, basada
                en la evaluación por Competencias, la cual se adapta a aquellas
                definidas para cada perfil.
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Evaluación Psicológica,
                la cual se administra para descartar rasgos patológicos y obtener
                de manera científica y validada características personales del
                postulante.
              </li>
              <li>
                <i class="bi bi-3-square"></i>
                <strong> Evaluación Técnica</strong>
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Confección de batería
                de tests.
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i>Administración de la
                batería de tests
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Evaluación de resultados.
              </li>
              <li>
                <i class="bi bi-arrow-return-right"></i> Informe final. (sugerencias)
              </li>
            </ul>
            <p>
              Nuestra Consultora TALA adecua sus tiempos a la urgencia y
              plazos demandados por las empresas. Los honorarios por el
              servicio de informes psicotécnicos serán a presupuestar en el
              momento de la contratación, donde se detallarán tiempos de
              entrega del informe psicotécnico, honorarios y plazos de pago
            </p>
            <p>
              <strong>
                La aceptación de la propuesta implica la contratación de
                nuestros servicios. De interrumpirse la búsqueda se deberá
                abonar el 30% de los honorarios acordados.
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Metodologia Section -->