<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Designed by <a href="mailto:estudiosistemas@gmail.com">Estudio Sistemas</a>
        </p>
      </div>
      <!-- <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/talaconsultora/"
              rel="noreferrer nofollow"
              target="_blank"
              class="instagram"><i class="bi bi-instagram"></i></a
            >
          </li>
          <li>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div> -->
    </div>
  </div><!-- - - - - - - - -  End Footer - - - - - - - -  -->