---
import Tala from "./Tala.astro";
import Menu from "./Menu.astro";
import Designed from "./Designed.astro";
---

<!-- - - - - - - - -  Footer - - - - - - - -  -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <Tala />
      <div class="col-xs-6 col-md-3"></div>
      <Menu />
    </div>
    <hr />
  </div>
  <Designed />
</footer>
