<div class="col-xs-6 col-md-3 d-none d-lg-block">
    <h6>Menú</h6>
    <ul class="footer-links">
      <li><a href="#hero">Inicio</a></li>
      <li><a href="#about">Nosotros</a></li>
      <li><a href="#team">Equipo</a></li>
      <li><a href="#metodologia">Metodología</a></li>
      <li><a href="#contact">Contacto</a></li>
      <li><a href="#cargarcv">Cargar CV</a></li>
    </ul>
  </div>