<div class="col-sm-12 col-md-6">
    <h6>TALA Consultora</h6>
    <p class="text-justify">
      Creada y dirigida por profesionales de la salud, formadas en
      psicodiagnóstico y psicología laboral. Atravesadas por la
      perspectiva de género y derechos humanos.
    </p>
    <ul class="footer-links">
      <li>
        <a href="mailto:info@talaconsultora.com.ar">
          <span class="bi bi-envelope"></span> info@talaconsultora.com.ar
        </a>
      </li>
      <li>
        <a
          href="https://wa.me/5492281413019"
          rel="noreferrer nofollow"
          target="_blank"
          ><span class="bi bi-whatsapp"></span> +54 9 2281 413019
        </a>
      </li>
    </ul>
  </div>