@font-face {
    font-family: 'devasia_2regular';
    src: url('devasia_regular-webfont.woff2') format('woff2'),
         url('devasia_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}